@model PaginatedList<Service>
@{
    var counter = 0;
}

<div class="container-fluid row justify-content-between align-items-center">
    <h1>Services Page</h1>
    <a asp-action="create" asp-controller="service" class="btn btn-success">Create</a>
</div>

<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Title</th>
                <th scope="col">Image</th>
                <th scope="col">IsDeleted</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var service in Model)
            {
                counter++;
                <tr>
                    <th scope="row">@counter</th>
                    <td>@service.Title</td>
                    <td>
                        <img style="max-width:100px;" src="~/uploads/serviceImages/@service.ImageUrl" />
                    </td>
                    <td>@service.IsDeleted</td>
                    <td>
                        <a asp-action="update" asp-controller="service" asp-route-id="@service.Id" class="btn btn-primary">Update</a>
                        <a asp-action="softdelete" asp-controller="service" asp-route-id="@service.Id"
                           class="btn btn-@(service.IsDeleted ? "secondary" : "warning")">@(service.IsDeleted ? "Undo" : "SoftDelete")</a>
                        <a asp-action="harddelete" asp-controller="service" asp-route-id="@service.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="container-fluid d-flex align-items-center justify-content-center">
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item @(Model.HasPrev ? "" : "disabled")">
                <a class="page-link" asp-action="index" asp-controller="service" asp-route-page="@(Model.ActivePage-1)" tabindex="-1" aria-disabled="true">Previous</a>
            </li>

            @for (int i = 1; i <= Model.TotalPageCount; i++)
            {
                <li class="page-item @(Model.ActivePage == i ? "active" : "")">
                    <a asp-action="index" asp-controller="service" asp-route-page="@i" class="page-link">@i</a></li>
            }

            <li class="page-item @(Model.HasNext ? "" : "disabled")">
                <a class="page-link" asp-action="index" asp-controller="service" asp-route-page="@(Model.ActivePage+1)" tabindex="-1" aria-disabled="true">Next</a>
            </li>
        </ul>
    </nav>
</div>