@model PaginatedList<Setting>
@{
    var counter = 0;
}

<div class="container-fluid row justify-content-between align-items-center">
    <h1>Settings Page</h1>
</div>

<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Key</th>
                <th scope="col">Value</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var service in Model)
            {
                counter++;
                <tr>
                    <th scope="row">@counter</th>
                    <td>@service.Key</td>
                    <td>@service.Value</td>
                    <td>
                        <a asp-action="update" asp-controller="setting" asp-route-id="@service.Id" class="btn btn-primary">Update</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="container-fluid d-flex align-items-center justify-content-center">
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item @(Model.HasPrev ? "" : "disabled")">
                <a class="page-link" asp-action="index" asp-controller="setting" asp-route-page="@(Model.ActivePage-1)" tabindex="-1" aria-disabled="true">Previous</a>
            </li>

            @for (int i = 1; i <= Model.TotalPageCount; i++)
            {
                <li class="page-item @(Model.ActivePage == i ? "active" : "")">
                    <a asp-action="index" asp-controller="setting" asp-route-page="@i" class="page-link">@i</a>
                </li>
            }

            <li class="page-item @(Model.HasNext ? "" : "disabled")">
                <a class="page-link" asp-action="index" asp-controller="setting" asp-route-page="@(Model.ActivePage+1)" tabindex="-1" aria-disabled="true">Next</a>
            </li>
        </ul>
    </nav>
</div>